<!DOCTYPE html>
<html style="font-size: 14px;">
  <head>
    <title>Shop Whey Đà Nẵng | Dinh Dưỡng Thể Thao</title>
    <% include ../partials/head %>
  </head>

  <body
    class="text-white bg-dark w-100 m-0 p-0"
    style="background-color: #343a40;"
  >
    <% include ../partials/header %>
    <main>
      <section class="container">
      <h1 class="display-1">Không tìm thấy trang</h1>
      <a href="/" class="text-white">Về trang chủ</a>
      </section>
   </main>
    <% include ../partials/footer %>
  </body>
</html>
