<!DOCTYPE html>
<html style="font-size: 14px;">
  <head>
    <title>Shop Whey Đà Nẵng | Dinh Dưỡng Thể Thao</title>
    <% include ../partials/head %>
  </head>

  <body class="text-white bg-dark" style="background-color: #343a40;">
    <% include ../partials/header %>

    <main>
      <div class="container">
        <div class="row">
          <div class="col-md-9">
            <div class="row p-0 m-0">
              <div class="col-7 col-sm-7">
                <button
                  class="btn btn-outline-light btn-sm mt-4 text-myColor"
                  id="go-back"
                  type="button"
                  style="border-radius: 0px; border-color: #D4AC5C;"
                >
                  Trở về
                </button>
                <img id="detail-imageMain" class="w-100 p-4" src="" />
                <hr />
                <div class="row">
                  <div
                    class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3"
                    data-bs-hover-animate="bounce"
                    id="detail-imageMore"
                  >
                    <img class="w-100" src="duong-dan-hinh-anh" />
                  </div>
                </div>
                <hr />
                <input
                  id="customer-phone"
                  name="phone"
                  type="text"
                  class="form-control mb-3 text-myColor"
                  placeholder="Số điện thoại (phone)"
                  style="border-radius: 0px;border-top: none;border-left: none;border-right: none; background-color: transparent;border-color: #D4AC5C;max-width: 300px;"
                />
                <input
                  id="customer-name"
                  name="name"
                  type="text"
                  class="form-control mb-3 text-myColor"
                  placeholder="Tên (name)"
                  style="border-radius: 0px;border-top: none;border-left: none;border-right: none; background-color: transparent;border-color: #D4AC5C;max-width: 300px;"
                />
                <input
                  id="customer-address"
                  name="address"
                  type="text"
                  class="form-control mb-3 text-myColor"
                  placeholder="Địa chỉ (address)"
                  style="border-radius: 0px;border-top: none;border-left: none;border-right: none; background-color: transparent;border-color: #D4AC5C;max-width: 300px;"
                />
                <button
                  id="customer-order"
                  class="btn btm-sm mb-3 text-myColor"
                  style="border-radius: 0px; border-color: #D4AC5C;width: 100%; max-width: 300px;"
                >
                  Đặt hàng
                </button>
              </div>

              <div class="col-5 col-sm-5">
                <div class="p-4">
                  <h6 id="detail-name" class="text-myColor"></h6>
                  <hr />
                  <h6 id="detail-price"></h6>
                  <h6
                    id="sale-price"
                    class="text-secondary"
                    style="text-decoration: line-through;"
                  ></h6>
                  <hr />
                  <h6 class="text-myColor">MÙI</h6>
                  <div id="detail-attribute">
                    <p class="text-secondary">attribute</p>
                  </div>

                  <h6 class="text-uppercase text-myColor">thương hiệu</h6>
                  <p id="detail-brand" class="text-secondary"></p>
                  <h6 class="text-uppercase text-myColor">danh mục</h6>
                  <p id="detail-category" class="text-secondary"></p>
                </div>
              </div>
              <div class="col-12">
                <h6 class="text-uppercase text-myColor mt-3">Mô tả</h6>
                <p id="detail-description"></p>
                <h6 class="text-uppercase text-myColor mt-3">Chi tiết</h6>
                <img id="detail-info" style="max-width: 100%;" />
                <h6 class="text-uppercase text-myColor mt-3">
                  Hướng dẫn sử dụng
                </h6>
                <p id="detail-guide"></p>
              </div>
              <div class="col-12">
                <% if (path) {%>
                <div
                  class="fb-comments"
                  data-href="<%=path%>"
                  data-numposts="5"
                  data-width=""
                ></div>
                <%}%>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <% include ../partials/footer%>
  </body>
</html>
