<!DOCTYPE html>
<html style="font-size: 14px;">
  <head>
    <title>Shop Whey Đà Nẵng | Dinh Dưỡng Thể Thao</title>
    <% include ../partials/head %>
  </head>

  <body
    class="text-white bg-dark w-100 m-0 p-0"
    style="background-color: #343a40;"
  >
    <% include ../partials/header %>
    <main>
      <% include ../partials/banner %>
      <section class="mb-4">
        <div class="container-fluid">
          <div class="row ow-eq-height m-0 p-0 w-100">
            <div class="col-4 col-sm-3 col-md-2 col-lg-2 col-xl-2 p-0 col-xs-4">
              <h6 class="mt-4 ml-3 text-myColor">DANH MỤC</h6>
              <div class="list-group" id="categories">
                <a
                  class="list-group-item list-group-item-action border rounded-0 categoryClick"
                  href="/?category=duong-dan#present-filter"
                  ><span>danh-muc</span></a
                >
              </div>
              <h6 class="ml-3 text-myColor">THƯƠNG HIỆU</h6>

              <nav class="navbar navbar-expand-md p-0">
                <button
                  data-toggle="collapse"
                  class="ml-3 p-0 navbar-toggler"
                  style="background-color: transparent;border: none;"
                  data-target="#brand-collapse"
                >
                  <p class="text-white" style="font-size: 14px;">Nhấn để xem</p>
                </button>
                <div></div>
                <div class="collapse navbar-collapse m-0" id="brand-collapse">
                  <div id="brands" class="list-group">
                    <a
                      class="list-group-item list-group-item-action border rounded-0 brandClick"
                      href="/?brand=duong-dan#present-filter"
                      ><span>thuong-hieu</span></a
                    >
                  </div>
                </div>
              </nav>
            </div>
            <div
              class="col-8 col-sm-9 col-md-10 col-lg-10 col-xl-10 p-0 col-xs-4"
            >
              <div class="bg-dark">
                <h5
                  id="present-filter"
                  class="text-uppercase text-center m-0 text-myColor pt-4 pb-3"
                ></h5>
                <div class="text-center px-2 py-0 mb-4">
                  <div
                    id="products-main"
                    class="row justify-content-center p-0 m-0"
                  >
                    <div class="col-6 col-sm-4 col-md-3 col-lg-2 col-xl-2 p-2">
                      <a href="duong-dan" target="_parent">
                        <div class="bg-dark p-3">
                          <img class="w-100" src="duong-dan-hinh-anh" />
                          <div class="productBasis">
                            <p class="text-center p-0 m-0 text-myColor">
                              san-pham
                            </p>
                            <h6 class="text-center text-white">gia</h6>
                          </div>
                        </div>
                      </a>
                    </div>
                  </div>
                </div>
              </div>

              <div class="bg-dark">
                <h5
                  class="text-uppercase text-center m-0 text-myColor pt-4 pb-3"
                >
                  sản phẩm bán chạy
                </h5>
                <div class="text-center px-2 py-0 mb-4">
                  <div
                    id="bestSeller-products"
                    class="row justify-content-center p-0 m-0"
                  >
                    <div class="col-6 col-sm-4 col-md-3 col-lg-2 col-xl-2 p-2">
                      <a href="duong-dan" target="_parent">
                        <div class="bg-dark p-3">
                          <img class="w-100" src="duong-dan-hinh-anh" />
                          <div class="productBasis">
                            <p class="text-center p-0 m-0 text-myColor">
                              san-pham
                            </p>
                            <h6 class="text-center text-white">gia</h6>
                          </div>
                        </div>
                      </a>
                    </div>
                  </div>
                </div>
              </div>

              <div class="bg-dark">
                <h5
                  class="text-uppercase text-center m-0 text-myColor pt-4 pb-3"
                >
                  HÀNG MỚI VỀ
                </h5>
                <div class="text-center px-2 py-0 mb-4">
                  <div
                    id="new-products"
                    class="row justify-content-center p-0 m-0"
                  >
                    <div class="col-6 col-sm-4 col-md-3 col-lg-2 col-xl-2 p-2">
                      <a href="duong-dan">
                        <div class="bg-dark p-3">
                          <img class="w-100" src="duong-dan-hinh-anh" />
                          <div class="productBasis">
                            <p class="text-center p-0 m-0 text-myColor">
                              san-pham
                            </p>
                            <h6 class="text-center text-white">gia</h6>
                          </div>
                        </div>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="bg-dark">
                <div
                  class="fb-page"
                  data-href="https://www.facebook.com/shopwheydanang/"
                  data-tabs="timeline"
                  data-width=""
                  data-height=""
                  data-small-header="true"
                  data-adapt-container-width="true"
                  data-hide-cover="true"
                  data-show-facepile="true"
                >
                  <blockquote
                    cite="https://www.facebook.com/shopwheydanang/"
                    class="fb-xfbml-parse-ignore"
                  >
                    <a href="https://www.facebook.com/shopwheydanang/"
                      >Shop Whey Đà Nẵng</a
                    >
                  </blockquote>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <% include ../partials/footer %>
  </body>
</html>
