<section class="container">
  <hr />
  <span class="badge badge-secondary">Danh mục</span>
  <div class="row" id="categories">
    <a href="duong-dan" class="col-4 text-dark py-2">danh-muc</a>
  </div>
  <!-- <a class="text-primary" onclick="window.history.back();">Trở lại</a> -->
  <script>
    let categories = new Categories({ id: "categories" });
    categories.load({ condition: `` });
  </script>
  <hr />
  <span class="badge badge-secondary" id="present-filter"></span>
  <div id="filter-products" class="row m-3">
    <a href="duong-dan" class="col-6 col-sm-4 ">
      <img class="img-fuild w-100" src="duong-dan-hinh-anh" />
      <p class="text-dark mt-3 mb-0 p-0">san-pham</p>
      <p class="text-primary">gia</p>
    </a>
  </div>
  <script>
    let filter = new Products({ id: "filter-products" });
    let filterLabel = new Paragraphs({ id: "filter-label" });
    let presentFilter = new PresentFilter({ name: "present-filter" });

    if (condition.category) {
      presentFilter.withCategory({ url: condition.category });
      filter.load({
        condition: `category: {url:"${condition.category}"}`
      });
      filterLabel.render({ value: condition.brand });
    } else if (condition.brand) {
      presentFilter.withBrand({ url: condition.brand });
      filter.load({ condition: `brand: {url:"${condition.brand}"}` });
      filterLabel.render({ value: condition.brand });
    } else {
      filterLabel.html.style.display = "none";
    }
  </script>
</section>
