<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>LotusHotel</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Actor">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/css/swiper.min.css">
    <link rel="stylesheet" href="/lotushotel/assets/css/styles.min.css?h=7495d10001ba81faf6fe9daa6c0060dc">
</head>

<body style="font-family: Actor, sans-serif;">
    <header>
        <section>
            <nav class="navbar navbar-light navbar-expand-md">
                <div class="container"><a class="navbar-brand text-secondary" href="#">64 Lê Lợi, Hải Châu, Đà Nẵng</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                    <div
                        class="collapse navbar-collapse" id="navcol-1">
                        <ul class="nav navbar-nav"></ul>
                </div>
                </div>
            </nav>
        </section>
        <section>
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class="col-12 col-lg-10">
                        <h1 class="display-4 text-center" data-aos="zoom-in" style="color: #b45a5a;">Lotus Hotel</h1>
                        <h5 class="text-center text-secondary" data-aos="zoom-out">Luôn luôn không ngừng cải thiện chất lượng dịch vụ để mang đến cho Quý khách trải nghiệm Độc, Lạ, Lãng mạn trước giờ chưa từng có nhé.<br></h5>
                    </div>
                    <div class="col-sm-11 col-md-8 col-lg-4">
                        <div class="row">
                            <div class="col p-1"><a class="btn btn-outline-primary btn-sm w-100" role="button" href="tel:02363888864" style="color: #b45a5a;border-radius: 30px;border-color: #b45a5a;">Lễ tân</a></div>
                            <div class="col p-1"><a class="btn btn-outline-primary btn-sm w-100" role="button" href="tel:0373547857" style="color: #b45a5a;border-radius: 30px;border-color: #b45a5a;">Mr. Henry</a></div>
                            <div class="col p-1"><a class="btn btn-outline-primary btn-sm w-100" role="button" href="tel:0917519227" style="color: #b45a5a;border-radius: 30px;border-color: #b45a5a;">Mr. Nhật</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </header>
    <!-- Start: Simple Slider -->
    <div class="simple-slider"></div>
    <!-- End: Simple Slider -->
    <main class="my-3">
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-4 simple-slider">
                        <a href="#">
                            <div class="swiper-container" style="height: 30vh;border-radius: 15px;">
                                <!-- Start: Slide Wrapper -->
                                <div class="swiper-wrapper">
                                    <!-- Start: Slide -->
                                    <div class="swiper-slide" style="background-image: url(&quot;/lotushotel/assets/img/80620824_115465556616647_4827045054562435072_o.jpg?h=282212a4710f4667a46907abff535b54&quot;);"></div>
                                    <!-- End: Slide -->
                                    <!-- Start: Slide -->
                                    <div class="swiper-slide" style="background-image:url(https://placeholdit.imgix.net/~text?txtsize=68&amp;txt=Slideshow+Image&amp;w=1920&amp;h=500);"></div>
                                    <!-- End: Slide -->
                                    <!-- Start: Slide -->
                                    <div class="swiper-slide" style="background-image:url(https://placeholdit.imgix.net/~text?txtsize=68&amp;txt=Slideshow+Image&amp;w=1920&amp;h=500);"></div>
                                    <!-- End: Slide -->
                                </div>
                                <!-- End: Slide Wrapper -->
                                <!-- Start: Pagination -->
                                <div class="swiper-pagination"></div>
                                <!-- End: Pagination -->
                            </div>
                            <h5 class="mt-3" style="color: #b45a5a;">303 - Luxury Nest Bird</h5>
                        </a>
                        <div class="row">
                            <div class="col">
                                <h6 class="my-0">2h đầu: <strong>300.000</strong></h6>
                                <h6 class="my-0">Giờ tiếp theo: <strong>100.000</strong></h6>
                            </div>
                            <div class="col">
                                <h6 class="my-0">Qua đêm: <strong>650.000</strong></h6>
                                <h6>Ngày: <strong>900.000</strong></h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4 simple-slider">
                        <a href="#">
                            <div class="swiper-container" style="height: 30vh;border-radius: 15px;">
                                <!-- Start: Slide Wrapper -->
                                <div class="swiper-wrapper">
                                    <!-- Start: Slide -->
                                    <div class="swiper-slide" style="background-image: url(&quot;/lotushotel/assets/img/87852302_146861940143675_5491167326327799808_o.jpg?h=dd390001e66f9e6e6956e67aca4786a2&quot;);"></div>
                                    <!-- End: Slide -->
                                    <!-- Start: Slide -->
                                    <div class="swiper-slide" style="background-image:url(https://placeholdit.imgix.net/~text?txtsize=68&amp;txt=Slideshow+Image&amp;w=1920&amp;h=500);"></div>
                                    <!-- End: Slide -->
                                    <!-- Start: Slide -->
                                    <div class="swiper-slide" style="background-image:url(https://placeholdit.imgix.net/~text?txtsize=68&amp;txt=Slideshow+Image&amp;w=1920&amp;h=500);"></div>
                                    <!-- End: Slide -->
                                </div>
                                <!-- End: Slide Wrapper -->
                                <!-- Start: Pagination -->
                                <div class="swiper-pagination"></div>
                                <!-- End: Pagination -->
                            </div>
                            <h5 class="mt-3" style="color: #b45a5a;">303 - Luxury Nest Bird</h5>
                        </a>
                        <div class="row">
                            <div class="col">
                                <h6 class="my-0">2h đầu: <strong>300.000</strong></h6>
                                <h6 class="my-0">Giờ tiếp theo: <strong>100.000</strong></h6>
                            </div>
                            <div class="col">
                                <h6 class="my-0">Qua đêm: <strong>650.000</strong></h6>
                                <h6>Ngày: <strong>900.000</strong></h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4 simple-slider">
                        <a href="#">
                            <div class="swiper-container" style="height: 30vh;border-radius: 15px;">
                                <!-- Start: Slide Wrapper -->
                                <div class="swiper-wrapper">
                                    <!-- Start: Slide -->
                                    <div class="swiper-slide" style="background-image: url(&quot;/lotushotel/assets/img/88009597_145744970255372_2595507891557367808_o.jpg?h=35c8362a3b5e9369d306a434df893e8e&quot;);"></div>
                                    <!-- End: Slide -->
                                    <!-- Start: Slide -->
                                    <div class="swiper-slide" style="background-image:url(https://placeholdit.imgix.net/~text?txtsize=68&amp;txt=Slideshow+Image&amp;w=1920&amp;h=500);"></div>
                                    <!-- End: Slide -->
                                    <!-- Start: Slide -->
                                    <div class="swiper-slide" style="background-image:url(https://placeholdit.imgix.net/~text?txtsize=68&amp;txt=Slideshow+Image&amp;w=1920&amp;h=500);"></div>
                                    <!-- End: Slide -->
                                </div>
                                <!-- End: Slide Wrapper -->
                                <!-- Start: Pagination -->
                                <div class="swiper-pagination"></div>
                                <!-- End: Pagination -->
                            </div>
                            <h5 class="mt-3" style="color: #b45a5a;">303 - Luxury Nest Bird</h5>
                        </a>
                        <div class="row">
                            <div class="col">
                                <h6 class="my-0">2h đầu: <strong>300.000</strong></h6>
                                <h6 class="my-0">Giờ tiếp theo: <strong>100.000</strong></h6>
                            </div>
                            <div class="col">
                                <h6 class="my-0">Qua đêm: <strong>650.000</strong></h6>
                                <h6>Ngày: <strong>900.000</strong></h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4 simple-slider">
                        <a href="#">
                            <div class="swiper-container" style="height: 30vh;border-radius: 15px;">
                                <!-- Start: Slide Wrapper -->
                                <div class="swiper-wrapper">
                                    <!-- Start: Slide -->
                                    <div class="swiper-slide" style="background-image: url(&quot;/lotushotel/assets/img/86710510_140120234151179_2111528333576503296_n.jpg?h=7b0dc5261dd01d6cb5882fc0063f95a6&quot;);"></div>
                                    <!-- End: Slide -->
                                    <!-- Start: Slide -->
                                    <div class="swiper-slide" style="background-image:url(https://placeholdit.imgix.net/~text?txtsize=68&amp;txt=Slideshow+Image&amp;w=1920&amp;h=500);"></div>
                                    <!-- End: Slide -->
                                    <!-- Start: Slide -->
                                    <div class="swiper-slide" style="background-image:url(https://placeholdit.imgix.net/~text?txtsize=68&amp;txt=Slideshow+Image&amp;w=1920&amp;h=500);"></div>
                                    <!-- End: Slide -->
                                </div>
                                <!-- End: Slide Wrapper -->
                                <!-- Start: Pagination -->
                                <div class="swiper-pagination"></div>
                                <!-- End: Pagination -->
                            </div>
                            <h5 class="mt-3" style="color: #b45a5a;">303 - Luxury Nest Bird</h5>
                        </a>
                        <div class="row">
                            <div class="col">
                                <h6 class="my-0">2h đầu: <strong>300.000</strong></h6>
                                <h6 class="my-0">Giờ tiếp theo: <strong>100.000</strong></h6>
                            </div>
                            <div class="col">
                                <h6 class="my-0">Qua đêm: <strong>650.000</strong></h6>
                                <h6>Ngày: <strong>900.000</strong></h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4 simple-slider">
                        <a href="#">
                            <div class="swiper-container" style="height: 30vh;border-radius: 15px;">
                                <!-- Start: Slide Wrapper -->
                                <div class="swiper-wrapper">
                                    <!-- Start: Slide -->
                                    <div class="swiper-slide" style="background-image: url(&quot;/lotushotel/assets/img/84826777_137854021044467_6951065098655891456_o.jpg?h=0c9b11a80868f00b344e2e0b3c10e3bd&quot;);"></div>
                                    <!-- End: Slide -->
                                    <!-- Start: Slide -->
                                    <div class="swiper-slide" style="background-image:url(https://placeholdit.imgix.net/~text?txtsize=68&amp;txt=Slideshow+Image&amp;w=1920&amp;h=500);"></div>
                                    <!-- End: Slide -->
                                    <!-- Start: Slide -->
                                    <div class="swiper-slide" style="background-image:url(https://placeholdit.imgix.net/~text?txtsize=68&amp;txt=Slideshow+Image&amp;w=1920&amp;h=500);"></div>
                                    <!-- End: Slide -->
                                </div>
                                <!-- End: Slide Wrapper -->
                                <!-- Start: Pagination -->
                                <div class="swiper-pagination"></div>
                                <!-- End: Pagination -->
                            </div>
                            <h5 class="mt-3" style="color: #b45a5a;">303 - Luxury Nest Bird</h5>
                        </a>
                        <div class="row">
                            <div class="col">
                                <h6 class="my-0">2h đầu: <strong>300.000</strong></h6>
                                <h6 class="my-0">Giờ tiếp theo: <strong>100.000</strong></h6>
                            </div>
                            <div class="col">
                                <h6 class="my-0">Qua đêm: <strong>650.000</strong></h6>
                                <h6>Ngày: <strong>900.000</strong></h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4 simple-slider">
                        <a href="#">
                            <div class="swiper-container" style="height: 30vh;border-radius: 15px;">
                                <!-- Start: Slide Wrapper -->
                                <div class="swiper-wrapper">
                                    <!-- Start: Slide -->
                                    <div class="swiper-slide" style="background-image: url(&quot;/lotushotel/assets/img/86261197_139140070915862_2360618569680551936_n.jpg?h=10426ea11c1db57c684c4443bb23beca&quot;);"></div>
                                    <!-- End: Slide -->
                                    <!-- Start: Slide -->
                                    <div class="swiper-slide" style="background-image:url(https://placeholdit.imgix.net/~text?txtsize=68&amp;txt=Slideshow+Image&amp;w=1920&amp;h=500);"></div>
                                    <!-- End: Slide -->
                                    <!-- Start: Slide -->
                                    <div class="swiper-slide" style="background-image:url(https://placeholdit.imgix.net/~text?txtsize=68&amp;txt=Slideshow+Image&amp;w=1920&amp;h=500);"></div>
                                    <!-- End: Slide -->
                                </div>
                                <!-- End: Slide Wrapper -->
                                <!-- Start: Pagination -->
                                <div class="swiper-pagination"></div>
                                <!-- End: Pagination -->
                            </div>
                            <h5 class="mt-3" style="color: #b45a5a;">303 - Luxury Nest Bird</h5>
                        </a>
                        <div class="row">
                            <div class="col">
                                <h6 class="my-0">2h đầu: <strong>300.000</strong></h6>
                                <h6 class="my-0">Giờ tiếp theo: <strong>100.000</strong></h6>
                            </div>
                            <div class="col">
                                <h6 class="my-0">Qua đêm: <strong>650.000</strong></h6>
                                <h6>Ngày: <strong>900.000</strong></h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/js/swiper.jquery.min.js"></script>
    <script src="/lotushotel/assets/js/script.min.js?h=3669e8c0aa28e620dc031f6fdca0c508"></script>
</body>

</html>