<section class="mb-4">
  <div class="container-fluid">
    <div class="row">
      <div
        class="col-12 col-md-6 p-0"
        data-aos="slide-right"
        data-aos-delay="50"
        style="background-image: url(duong-dan-hinh-anh);background-size: cover;background-position:
        center;"
      >
        <a href="duong-dan">
          <div
            class="d-flex justify-content-center align-items-center w-100 h-100"
            style="background-color: rgba(0,0,0,0.5);"
          >
            <div data-bs-hover-animate="pulse" class="p-5">
              <h2 class="text-white">tieu-de</h2>
              <p class="text-white">mo-ta</p>
            </div>
          </div>
        </a>
      </div>

      <div class="col-12 col-md-6 p-0">
        <div class="row w-100 m-0 p-0">
          <div class="col-12 col-md-6 p-0" data-aos="fade-down" data-aos-delay="100">
            <img class="w-100" src="duong-dan-hinh-anh" />
          </div>
          <div class="col-12 col-md-6 p-0" data-aos="fade-left" data-aos-delay="150">
            <a href="duong-dan">
              <div class="d-flex align-items-center h-100 w-100">
                <div data-bs-hover-animate="pulse" class="p-4 text-justify">
                  <h4 class="textColor">tieu-de</h4>
                  <p>mo-ta</p>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="row w-100 m-0 p-0">
          <div class="col-12 col-md-6 p-0 m-0" data-aos="flip-up" data-aos-delay="200">
            <a href="duong-dan">
              <div
                class="d-flex justify-content-center align-items-center h-100 w-100"
              >
                <div data-bs-hover-animate="pulse" class="p-4 text-justify">
                  <h4 class="textColor">tieu-de</h4>
                  <p class="">mo-ta</p>
                </div>
              </div>
            </a>
          </div>
          <div class="col-12 col-md-6 p-0" data-aos="fade-left" data-aos-delay="250">
            <img class="w-100" src="duong-dan-hinh-anh" />
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-6 p-0" data-aos="fade-right" data-aos-delay="300">
        <a href="duong-dan">
          <div class="d-flex align-items-center h-100 w-100">
            <div data-bs-hover-animate="pulse" class="p-5 text-center">
              <h1 class="textColor">tieu-de</h1>
              <p class="">mo-ta</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-12 col-md-6 p-0" data-aos="fade-left" data-aos-delay="400">
        <img class="w-100" src="duong-dan-hinh-anh" />
      </div>
    </div>
  </div>
</section>
