@import url("https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap");
:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: brown;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
}
body {
  font-family: "Lora", serif;
  font-size: 1.2rem;
  background-color: #f4f4f4;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}
img {
  max-width: 100%;
  border-radius: 3px;
}
input {
  border: none;
  background-color: transparent;
  padding-left: 13px;
  color: #333;
  border-bottom: 2px solid #eee;
  font-size: 18px;
  margin-bottom: 13px;
  margin-right: 13px;
  width: 100%;
}
input::-webkit-input-placeholder {
  color: #333 !important;
}
input::-moz-placeholder {
  color: #333 !important;
}
input:-ms-input-placeholder {
  color: #333 !important;
}
input::-ms-input-placeholder {
  color: #333 !important;
}
input::placeholder {
  color: #333 !important;
}
a {
  color: #333;
  font-size: 18px;
  display: block;
}
a:not([href]):not([class]):hover {
  text-decoration: underline;
}
h1,
h2,
h3,
h4 {
  color: var(--primary);
  font-style: italic !important;
  margin-top: 13px;
  text-align: center;
}
h5,
h6 {
  color: var(--primary);
  margin-top: 13px;
}
p {
  text-align: justify;
}

section {
  margin-bottom: 51px;
}

button {
  border: 1px solid #333;
  width: 100%;
  background-color: transparent;
  margin-bottom: 21px;
  padding: 3px 13px 3px 13px;
  -webkit-transition: background-color 0.5s ease-out;
  -moz-transition: background-color 0.5s ease-out;
  -o-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}
button:hover {
  background-color: #333;
  color: white;
}
th {
  padding-right: 21px;

  align-items: center;
  justify-content: center;
}
.dropdown-item {
  margin-bottom: 0px !important;
}

.navbar-toggler:hover {
  color: black;
  background-color: white;
}
