<div class="simple-slider">
  <div class="swiper-container">
    <div id="banners" class="swiper-wrapper">
      <div
        class="swiper-slide"
        style='background-image: url("duong-dan-hinh-anh");'
      ></div>
    </div>
    <div class="swiper-pagination"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
</div>
